head
  title Login Form
  link(rel="apple-touch-icon", sizes="180x180", href="/apple-touch-icon.png")
  link(rel="icon", type="image/png", sizes="32x32", href="/favicon-32x32.png")
  link(rel="icon", type="image/png", sizes="16x16", href="/favicon-16x16.png")
  link(rel="manifest", href="/site.webmanifest")
body
  h1 Login
  form(method="POST" action="/login")
    label(for="email") Email:
    input(type="email", name="email", value=email)
    br
    label(for="password") Password:
    input(type="password", name="password")
    br
    input(type="submit", name="submit", value="submit")

  if errors
    ul
      for error in errors
        li!= error.msg