head
  title TocataStream Profile
  link(rel="apple-touch-icon", sizes="180x180", href="/apple-touch-icon.png")
  link(rel="icon", type="image/png", sizes="32x32", href="/favicon-32x32.png")
  link(rel="icon", type="image/png", sizes="16x16", href="/favicon-16x16.png")
  link(rel="manifest", href="/site.webmanifest")
body
  h1 TocataStream Profile
  form(method="POST" action="/profile")
    label(for="name") Name:
    input(type="text" name="name", value=name)
    br
    label(for="email") Email:
    input(type="email" name="email", value=email)
    br
    label(for="password") New password:
    input(type="password" name="password")
    br
    label(for="passwordConfirmation") Confirm password:
    input(type="password" name="passwordConfirmation")
    br
    input(type="submit" name="submit" value="submit")
  a(href='/downloads') Downloads

  if errors
    ul
      for error in errors
        li!= error.msg    